<div id="header">
    {{#if feature_image }}
    <div class="background">
        <img class="feature_image" src="{{feature_image}}" alt="{{@site.description}}">
        <img src="{{feature_image}}" alt="{{@site.description}}">
    </div>
    {{ else }}
    {{#is "index, author"}}
    {{#is 'index'}}
    {{#if @site.cover_image}}
    <div class="background">
        <img class="cover_image" src="{{@site.cover_image}}" alt="{{@site.description}}">
        <img src="{{@site.cover_image}}" alt="{{@site.description}}">
    </div>
    {{else}}
    <div class="background"></div>
    {{/if}}
    {{/is}}

    {{#is 'author'}}
    {{#if cover_image}}
    <div class="background">
        <img class="cover_image" src="{{cover_image}}" alt="{{description}}">
        <img src="{{cover_image}}" alt="{{description}}">
    </div>
    {{else}}
    <div class="background"></div>
    {{/if}}
    {{/is}}
    {{else}}
    <div class="background"></div>
    {{/is}}
    {{/if }}
    <div class="container">
        <div class="title-detail">
            <div class="column small-12 header-content">
                <div class="avatar-title-subscribe">
                    {{#is "author"}}
                    <a href="{{url}}" class="header-logo">
                        <img src="{{profile_image}}" alt="{{name}}" />
                    </a>
                    {{else}}
                    <a href="{{ @site.url }}" class="header-logo">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}" />
                        {{else}}
                            <img src="{{asset 'images/avatar.svg'}}" alt="{{@site.title}}">
                        {{/if}}
                    </a>
                    {{/is}}


                    <h1 class="title heading">
                        {{#is "index" }}
                        {{ @site.title }}
                        {{/is }}
                        {{#is "page, post" }}
                        {{ title }}
                        {{/is }}
                        {{#is "tag, author" }}
                        {{ name }}
                        {{/is }}
                    </h1>
                </div>
                </h1>
                <div class="excerpt">
                    {{#is "index" }}
                    {{ @site.description }}
                    {{/is }}
                    {{#is "page" }}
                    {{ excerpt }}
                    {{/is }}
                    {{#is "post" }}
                    Posted on {{ date format="MMMM Do, YYYY" }} under {{#primary_tag }}<a
                        href="{{ url }}">{{ name }}</a>{{/ primary_tag }}
                    {{/is }}
                    {{#is "tag" }}
                    {{ description }}
                    {{/is }}
                    {{#is "author" }}
                    {{ bio }}
                    {{/is }}
                </div>
                {{#is "author" }}
                {{!-- {{> author-social }} --}}
                {{/is }}
            </div>
        </div>
        <div class="nav">
            {{navigation}}
        </div>
    </div>
</div>