{{!< default}}

{{> header post}}

<div id="content" class="container">
    {{#post}}
    {{#if tags}}
    <div class="row page-works-show">
        {{#foreach tags}}
        <div class="column small-12 medium-6 xlarge-4">
            <div class="post-card centent-box card">
                <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">
                    {{#if feature_image}}
                    <img src="{{feature_image}}" alt="{{name}}">
                    {{else}}
                    <img src="{{@site.logo}}" alt="{{name}}">
                    {{/if}}
                    <div class="tags-description">
                        <h3>{{name}}</h3>
                        <p>{{description}}</p>
                    </div>
                </a>
            </div>
        </div>
        {{/foreach}}
    </div>
    {{/if}}
    {{/post}}
</div>