{{!< default}}

<link rel="stylesheet" type="text/css" href="{{ asset "css/prism.css" }}" />
<script src="{{asset "js/prism.js"}}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gitalk/1.5.0/gitalk.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/gitalk/1.5.0/gitalk.min.js"></script>

{{#post }}
{{> header}}
<div id="content" class="container">
    <div class="row post">
        <div class="column small-12 large-10 xlarge-8 large-offset-1 xlarge-offset-2">
            <div class="authors">
                <div class="authors-detail">
                    <h3>文章作者</h3>
                    <div class="timeage">{{date timeago="true"}}</div>
                </div>
                <ul>
                    {{#foreach authors }}
                    <li>
                        <a href="{{ url }}">
                            <div class="author-avatar">
                                {{# if profile_image }}
                                {{!-- <div style="background-image: url({{ profile_image }});"></div> --}}
                                <img src="{{ profile_image }}" alt="">
                                {{ else }}
                                {{!-- <div style="background-image: url({{ asset "images/avatar.svg" }});"></div> --}}
                                <img src="{{ asset "images/avatar.svg" }}" alt="">
                                {{/ if }}
                            </div>
                            <div class="metadata">
                                <h4>{{ name }}</h4>
                                <p>{{ bio }}
                            </div>
                        </a>
                    </li>
                    {{/foreach }}
                </ul>
            </div>
            <hr>
            <div class="post-wrapper line-numbers">
                {{content}}
            </div>
            {{> subscribe }}
            {{#is "post" }}

            <div class="prev-next">
                <div class="row">
                    {{#next_post}}
                    <div class="column small-12 large-6">
                        <h5>Previous post</h5>
                        {{> post-card condensed="true" }}
                    </div>
                    {{/next_post}}
                    {{#prev_post}}
                    <div class="column small-12 large-6">
                        <h5>Next post</h5>
                        {{> post-card condensed="true" }}
                    </div>
                    {{/prev_post}}
                </div>
            </div>

            <div id="gitalk-container"></div>

            <script>
                var gitalk = new Gitalk($.extend(gitalkConfig, {
                    title: document.title,
                    id: '{{comment_id}}' ? '{{comment_id}}' : location.pathname,      // Ensure uniqueness and length less than 50
                    distractionFreeMode: false  // Facebook-like distraction free mode
                }))

                gitalk.render('gitalk-container')
            </script>
            {{/is }}
        </div>
    </div>
</div>
{{/post }}
<style>
    #gitalk-container .gt-copyright {
        display: none;
    }

    #gitalk-container .gt-btn {
        background: #56817A;
        color: #fff;
        border: 1px solid #56817A;
        -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    }
</style>
<script>
    [].slice.call(document.querySelectorAll('table')).forEach(function (el) {
        var wrapper = document.createElement('div');
        wrapper.className = 'responsive-table';
        el.parentNode.insertBefore(wrapper, el);
        el.parentNode.removeChild(el);
        wrapper.appendChild(el);
    })
</script>